@model List<iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel>
<head>
    <link rel="stylesheet" href="/css/MySurveysStyles.css"/>
</head>
<body>
<a class="btn btn-dark rounded btn-create" asp-action="CreateNewSurvey">Create new survey</a>
@if (Model.Count == 0)
{
    <div class="center">
        <p class="text-center"><b>You have no surveys currently</b></p>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Change date
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        @foreach (var survey in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => survey.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => survey.ChangeDate)
                </td>
                <td class="d-flex flex-row">
                    <form method="get" asp-action="UpdateSurvey" asp-route-id="@survey.Id">
                        <button type="submit" class="edit-button">
                            <img src="/images/edit.png" class="trash-image">
                        </button>
                    </form>
                    <form method="post" asp-action="DeleteSurvey" asp-route-id="@survey.Id">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete survey \'@survey.Title\'?')">
                            <img src="/images/trashbin.png" class="trash-image">
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
<partial name="_ButtonToMainPagePartial"/>
</body>